// min-width: 992px
    
header
    h1
        font-size: 50px

    p
        font-size: 22px

//  .fa-chevron-down
//      display: block

.underline 
    width: 500px

.container
    display: flex
    flex-direction: row
    justify-content: space-evenly
    // justify-content: space-around
    // justify-content: center
    width: 90%

    .about-photo
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center 
        width: 30%
         
    .about-text
        // display: flex
        // flex-direction: column 
        // justify-content: center
        // align-items: center
        width: 70%
    
    h1 
        text-align: 
        
    // .reading-md
    //     flex-direction: row

    .dot 
        display: block

    .card-deck
        width: 480px

.right-to-left
    flex-direction: row-reverse



//CONTACT
#contact
    .contact-img
        background-image: url(../img/contact/contact-3-lg.jpg)


    

@media (min-width: 1200px)

    .container
        .card-deck
            width: 600px


@media (min-width: 1400px)

    .container
        width: 80%

@media (min-width: 1600px)

    .container
        .card-deck
            width: 650px

@media (min-width: 1700px)

    .container
        width: 70%

        // .card-deck
        //     width: 650px